.wecomebox{
    /*margin: 220px;*/
    /*align-self: center;*/



    /*width: 80%;*/
    padding: 80px;
    background: #1a202c;
    text-align: center;
    border-radius: 20px;
    color: #e2e8f0;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px 28px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px 28px rgba(0,0,0,0.15);
}

.myrow {
    /*--bs-gutter-x: 1.5rem;*/
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.welcomebgimage{
    background-image:url('/images/bgwelcome.png') ;
    width: 100%;
    height: 100%;



    /*height: 1000px;*/
}

.mycenter{
    align-self: center;
    align-content: center;
    align-items: center;
    vertical-align: center;
    horiz-align: center;
    alignment: center;
    margin-left: 10%;
    margin-right: 10%;
    /*width: 80%;*/
}

.welcomebutton{
    color: #e2e8f0;
    background-color: #6b7280;
    border-radius: 10px;
    /*width: 400px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    /*-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px 28px rgba(0,0,0,0.15);*/
    /*box-shadow: 0px 10px 13px -7px #000000, 0px 0px 35px 28px rgba(0,0,0,0.15);*/
}

.marginlr{
    margin-top: 280px;
    margin-bottom: 340px;
}

.mbutton{
    font-size: 20px;
    font-weight: bold;
    margin-top: 220px;
    background-color: #6b7280;
    color: #e2e8f0;
    width: 50vw;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 20px;
}
.bbutton{
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    background-color: #6b7280;
    color: #e2e8f0;
    width: 50vw;
    padding: 20px;
    text-align: center;
    margin-bottom: 220px;
    border-radius: 20px;

}

.facultybuttons{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
